.suggestions {
    @media screen and (max-width: 1199px) {
        display: none;
      }
}

.container.advantage,
.container.features,

.section-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}

.logic-title {
    /* Удаляем элемент из потока документа */
    position: absolute;
    /* Устанавливаем минимально возможный размер (некоторые скринридеры игнорируют элементы с нулевой высотой и шириной) */
    width: 1px;
    height: 1px;
    /* Скрываем вылезающий за границы контент */
    overflow: hidden;
    /* Сбрасываем любые свойства, которые могут повлиять на размер элемента */
    border: 0;
    padding: 0;
    /* Вырезаем ту часть контента, которая должна отображаться. */
    /* Устаревшее свойство clip для старых браузеров */
    clip: rect(0 0 0 0);
  }

.list {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    list-style-type: none;

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
      }
}

// .container.features {
//     padding-top: 0;
// }

.features-item {
    text-align: center;
    width: 450px;

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
          margin-bottom: 30px;
        }
    }

    @media screen and (min-width: $tablet) {
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
    }

    @media screen and (min-width: $desktop) {
        width: calc((100% - 8 * 15px) / 4);
        margin: 15px;
    }

/* outline: 2px solid red; */

}

.background {
    background-color: $button-bg-color;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.features-item {
    & .features-text {
        margin-top: 0;
        margin-bottom: 0;

        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $main-text-color;
    }

    & .features-title {
        margin-top: 0;
        margin-bottom: 10px;

        font-weight: 700;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $itle-text-color;
    }

}

.title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: $itle-text-color;
}

.features-list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    @media screen and (min-width: $desktop) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

        & .features-items {
            position: relative;

            @media screen and (min-width: $desktop) {
                width: calc((100% - 6 * 15px) / 3);
                margin: 15px;
            }
        } 
}

// img {

// }
 

// .features-items {
//     & img {
//         display: block;
//         max-width: 100%;
//         height: auto;
//         width: 100%;
//     }

//     &:not(:last-child) {
//         margin-right: 30px;
//     }  
// }



.caption-title {
    position: absolute;

    max-width: 100%;
    width: 100%;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    text-align: center;
    padding-bottom: 27px;
    padding-top: 27px;
    color: $caption-text-color;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
}