.page-header {
  position: relative;
  border-bottom: 1px solid #ECECEC;
  @media screen and (max-width: 479px) {
    width: 479px;
  }
}

.logo,
.caption-contacts {
  text-decoration: none;
}

.logo {
  @media screen and (min-width: $tablet) {
    width: 20%;
    margin-right: 44px;
  }
}

.header-web {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $accent-text-color;
}

.header-studio {
  @extend .header-web;
  color: $itle-text-color;
}

.menu-button {
    @media screen and (min-width: $tablet) {
        display: none;
      }
    
      display: inline-block;
      margin: 0;
      padding: 0;
      border: none;
      background-color: transparent;
}

.menu-button .icon-cross {
    display: none;
  }
  
  .menu-button.is-open .icon-cross {
    display: block;
  }
  
  .menu-button.is-open .icon-menu {
    display: none;
  }

.menu-container {
    background-color: $caption-text-color;
    

    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;
    
        &.is-open {
          display: block;
          position: absolute;
          top: 61px;
          left: 0;
        }
    }
    
    @media screen and (min-width: $tablet) {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // flex-grow: 1;
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      align-items: center;
    }
}

      
    
//       @media screen and (min-width: 768px) {
//         display: flex;
//         justify-content: space-between;
//         flex-grow: 1;
//       }
  


