.hero {
    background: rgba(47, 48, 58, 0.8);
    text-align: center;

    display: flex;
    justify-content: center;

    max-width: 1600px;
    min-height: 400px;

    padding-top: 118px;
    padding-bottom: 118px;
    margin-left: auto;
    margin-right: auto;



    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    @media screen and (max-width: 479px) {
        width: 479px;
    }

    @media screen and (min-width: $desktop) {
        padding-top: 200px;
        padding-bottom: 200px;
        height: 600px;
    }    
}

    /* 2x-экраны, изображение 640x480 */
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-width: $tablet) {
       .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-img@2x.jpg);
    // background-size: 768px 400px;
}

     /* 3x-экраны, изображение 960x720 */
    @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 3dppx),
    screen and (min-resolution: 288dpi),
    screen and (min-width: $desktop) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-img@3x.jpg);
            // background-size: 1600px 600px;
    }
}

        .hero-title {
            margin-top: 0;
            margin-bottom: 46px;

            font-weight: 900;
            font-size: 26px;
            line-height: 1.62;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;

            color: $caption-text-color;

            white-space: pre-line;

            @media screen and (min-width: $desktop) {
                font-size: 44px;
                line-height: 1.36;
            }
        }
}


.order {
    font-weight:700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $caption-text-color;
    text-decoration: none;

    border: transparent;
    outline-color: $accent-text-color;

    min-width: 200px;
    height: 50px;
    background: $accent-text-color;
    border-radius: 4px;

    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 500ms $timing-function;

        &:hover,
        &:focus {
            outline: none;
            background-color: $caption-text-color;
            color: $accent-text-color;
            transition: background-color 500ms $timing-function;
            cursor: pointer;
        }
} 