.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    opacity: 1;
    z-index: 2;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 500ms $timing-function;

    overflow-y: scroll;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        transition: opacity 500ms $timing-function;
    }

    // @media screen and (max-width: 479px) {
    //     width: 479px;
    // }

}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    // min-width: 528px;
    // min-height: 581px;

    padding: 40px;

    background-color: $caption-text-color;

    @media screen and (max-width: 1199px){
        width: 100%;
        max-width: 450px;
    }

    @media screen and (min-width: $desktop) {
        width: 528px;
        height: 581px;
    }

    .modal-title {
        margin-top: 0;
        margin-bottom: 30px;
    
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: $itle-text-color;
    }
}


.modal-form {
    display: block;
}

 .form-field {
    position: relative;
}

.form-input {
    // width: 448px;
    // height: 40px;
    padding: 12px 18px 12px 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 28px;

    @media screen and (max-width: 1199px){
        width: 100%;
    }

    @media screen and (min-width: $desktop) {
        width: 448px;
        height: 40px;
    }

    & + .form-label {
        position: absolute;
        top: 50%;
        left: 42px;
        transform: translateY(-100%);

        margin-left: 10px;
        color: $main-text-color;
    }

    & ~ .input-icon {
        position: absolute;
        top: 50%;
        left: 19px;
        transform: translateY(-120%);
    
        fill: $itle-text-color;
    }
}


.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label 
{
    color: $accent-text-color;
    transform: translate(-32px, -120%);

    transition: transform 500ms $timing-function;
}

.form-input:focus,
.form-input:focus ~ .input-icon {
    fill: $accent-text-color;
    outline-color: $accent-text-color;
}


.form-field {
    position: relative;

    .form-label {
        position: absolute;
        top: 0;
        left: 42px;
        transform: translateY(100%);
    } 
}

.form-field > textarea {
    resize: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;

    @media screen and (max-width: 1199px){
        width: 100%;
    }

    @media screen and (min-width: $desktop) {
        width: 448px;
        height: 120px;
    }
}

.form-field.area {
    margin-top: 0;
    margin-bottom: 20px;
}

textarea:focus {
    outline-color: $accent-text-color;
}

.contract {
    margin-top: 0;
    margin-bottom: 30px;
}

.contract-caption {
    margin: 0;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $main-text-color;

    a {
        margin: 0;
        color: $accent-text-color;
    }
}


.submit-btn {
    display: flex;
    justify-content: center;

    & .send-btn {
        background: $accent-text-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: transparent;
        outline-color: $accent-text-color;
        color: $caption-text-color;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 200px;
        cursor: pointer;
    }
}

.modal-button {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    border: transparent;
    border-radius: 50%;
    background: $caption-text-color;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12)
}

.field {
      display: inline-flex;
      align-items: center;
      cursor: pointer;

      & > .checkbox {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: absolute;
      
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
  }

.icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid $itle-text-color;
    border-radius: 4px;
    transition: transform 250ms $timing-function;
    margin-right: 8px;
}

.checkbox:checked + .icon {
    background-color: $accent-text-color;
    background-origin: border-box;
    border-color: transparent;
    background-image: url(../images/check.svg);
    background-size: contain;

    transform: scale(1.3);
}