.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;

    padding-top: 60px;
    padding-bottom: 60px;

    &.header {
        padding-top: 0;
        padding-bottom: 0;
    }

    @media screen and (max-width: 479px) {
        width: 479px;
    }

    @media screen and (min-width: $mobile) {
        width: $mobile;
    }

    @media screen and (min-width: $tablet) {
        width: $tablet;
    }

    @media screen and (min-width: $desktop) {
        width: $desktop;
        padding-top: 94px;
        padding-bottom: 94px;
    }

    // @media screen and (max-width: 1199px) {
    //     padding-top: 60px;
    //     padding-bottom: 60px;
    //   }
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 60px;   

    @media screen and (min-width: $tablet) {
        height: 80px;
    }
}


.navigation {
    // display: inline-block;
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;

    & .link:not(:last-child) {
        padding-bottom: 40px;
    }

    @media screen and (min-width: $tablet) {
        display: flex;
        // align-items: center;
    }
}

 
    @media screen and (min-width: $tablet) {
        .navigation .link:not(:last-child) {
            margin-right: 50px;
            padding-bottom: 0;
        }
    }


.navigation .navigation-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $itle-text-color;
    text-decoration: none;

    transition: color 250ms $timing-function;

        &:hover,
        &:focus {
            color: $accent-text-color;
        }

        @media screen and (min-width: $tablet) {
            font-size: 14px;

            display: block;
            padding-bottom: 32px;
            padding-top: 32px;
        }
}

.navigation-link.curent {
    color: $accent-text-color;

    position: relative;

    &::after {
        display: block;
    
        position: absolute;
        left: 0;
        margin-top: 8px;
    
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: $accent-text-color;
    }
}








// .nav-container {
    
//     // display: flex;
//     // align-items: center;

//     // width: 1170px;
//     // margin-left: auto;
//     // margin-right: auto;
//     // padding-left: 15px;
//     // padding-right: 15px;

//     @media screen and (max-width:767px) {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         height: 60px;
//     }

//     @media screen and (min-width: $tablet) {
//         display: flex;
//         align-items: center;
//         height: 80px;
//       }
// } 

// .navigation {
//     // display: block;
//     text-align: center;
//     padding-left: 0;
//     list-style: none;
//     margin-top: 0;

//     @media screen and (max-width: 767px) {
//         margin-bottom: 60px;
//     }

    
//         @media screen and (max-width: 767px) {
//             & .link.curent:nth-child(1) {
//                 padding-bottom: 52px;
//             }
//         }
            
//         @media screen and (max-width: 767px) {
//             & .link:not(:last-child) {
//                 padding-bottom: 40px;
//             }    
//         }

//         @media screen and (min-width: $tablet) {
//             display: flex;
//             align-items: center;
//             margin-left: 81px;
//             // margin-right: 84px;
//           }
// }


// .navigation .navigation-link {
//     display: block;
//     // padding-bottom: 32px;
//     // padding-top: 32px;

//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     color: $itle-text-color;
//     text-decoration: none;

//     transition: color 250ms $timing-function;

//         &:hover,
//         &:focus {
//             color: $accent-text-color;
//         }
// }



// .navigation-link.curent {
//     color: $accent-text-color;

//     position: relative;

//     @media screen and (max-width: 767px) {
//         &::after {
//             display: block;
        
//             position: absolute;
//             // left: 0;
//             bottom: -8px;
        
//             content: "";
//             width: 100%;
//             height: 4px;
//             border-radius: 2px;
//             background: $accent-text-color;
//         }
//     }
// }

// .navigation {
//     // display: flex;
//     text-align: center;
//     padding-left: 0;
//     list-style: none;
//     margin-top: 0;
//     margin-bottom: 0;
// }

// .navigation .navigation-link {
//     display: block;
//     // padding-bottom: 32px;
//     // padding-top: 32px;

//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     color: $itle-text-color;
//     text-decoration: none;

//     transition: color 250ms $timing-function;

//         &:hover,
//         &:focus {
//             color: $accent-text-color;
//         }
// }

// @media screen and (min-width: $tablet) {
//     .navigation .link:not(:last-child) {
//         margin-right: 50px;
//     }
//   }

