.nav-container {
    
    display: flex;
    align-items: center;

    width: 1170px;
    
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
} 

.navigation {
    display: flex;
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

.navigation .navigation-link {
    display: block;
    padding-bottom: 32px;
    padding-top: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $itle-text-color;
    text-decoration: none;

    transition: color 250ms $timing-function;

        &:hover,
        &:focus {
            color: $accent-text-color;
        }
}

.navigation .link:not(:last-child) {
    margin-right: 50px;
}

.navigation-link.curent {
    color: $accent-text-color;

    position: relative;

    &::after {
        display: block;
    
        position: absolute;
        left: 0;
        bottom: 0;
    
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: $accent-text-color;
    }
}


