.team-section {
    background-color: $button-bg-color; 
    @media screen and (max-width: 479px) {
        width: 479px;
        background-color: $button-bg-color; 
    } 
}

.team {
    /* outline: 2px solid red; */
    list-style: none;
    padding-left: 0px;
    
    margin-top: 0;
    margin-bottom: 0;

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
} 

.team-list {
    text-align: center;

    background: $caption-text-color;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    padding-bottom: 24px;

    .main-text {
        text-align: center;
        margin-top: 0;
        margin-bottom: 30px;

        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        color: $main-text-color;
    }

    .team-pic {
        margin-bottom: 30px;
    }

    .team-list-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        color: $itle-text-color;
        text-align: center;

        margin-top: 0;
        margin-bottom: 10px;
    }

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
          margin-bottom: 30px;
        }
    }

    @media screen and (min-width: $tablet) {
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
    }

    @media screen and (min-width: $desktop) {
        width: calc((100% - 8 * 15px) / 4);
        margin: 15px;
    }
}

.team-networks {
    list-style: none;
    padding-left: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    cursor: pointer;
}

.network-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    border-radius: 50%;
    background-color: $caption-text-color;
    
    transition: background-color 250ms $timing-function;

    .network-icon {
        fill: $main-network-color;
    
        transition: fill 250ms $timing-function;
    }
}

.network-link {
    &:hover .network-icon {
        fill: $caption-text-color;
    }

    &:hover {
        background-color: $accent-text-color;
    }
}